<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">center_focus_strong</i>
    </div>
    <div class="clear">
    <ul>
        <li>Website Design and Development</li>
        <li>User Interface Design</li>
        <li>Web Programming</li>
        <li>Single-Page Application Development</li>
        <li>Content Management</li>
        <li>Web Accessibility</li>
        <li>Technical Writing</li>
        <li>Marketing Strategy</li>
        <li>Agile Scrum Project/Team Planning</li>
    </ul>
    </div>
</div>
