<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">center_focus_strong</i>
    </div>
    <div class="clear">
    <ul>
        <li>Website Design Development</li>
        <li>Website Development</li>
        <li>User Interface Design</li>
        <li>Graphic Design</li>
        <li>Web Programming</li>
        <li>Application Development</li>
        <li>Content Management</li>
        <li>Single-Page Web Applications</li>
        <li>Prototyping</li>
        <li>UI/UX Design</li>
        <li>Web Accessibility</li>
        <li>Debugging</li>
        <li>Technical Writing</li>
        <li>Marketing Strategy</li>
        <li>Agile Scrum Team Planning</li>
    </ul>
    </div>
</div>
