<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">foundation</i>
    </div>
    <div class="clear">
    <div><b>Apr 2020 - Jan 2022: Gaine Solutions</b></div>
    <div class="section-break"><i>Web Application Development / User Interface / Technical Writing</i></div>
    <div>
        San Luis Obispo, CA
        <ul>
            <li>Designed and developed web applications using Angular/typescript as well as Adobe XD to create the design compositions.</li>
            <li>Developed various applications including The Coperor Console, Gaine Centralized IFA Issue Tracking Application, Metadata Repository, and the Symphony Provider Registry.</li>
            <li>Composed and created application-specific technical documents.</li>
            <li>Researched and implemented web accessibility best practices.</li>
            <li>Worked closely with the Product Manager to conceive and develop prototypes for user interface designs to extend the product suite.</li>
            <li>Created XD prototypes for new additions to the web product as primary designer for user interface layout of Coperor Console.</li>
            <li>Applied Agile Scrum methodology for team and project planning.</li>
        </ul>
    </div>
    </div>
</div>

