<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">history</i>
    </div>
    <div class="clear">
    <b>2008 - 2020: Independent Consultant, Website and Application Development</b><br />
        Central Coast, CA/Southern CA<br />     
        <ul>
            <li>Developed and maintained websites for a range of clients including, but not limited to, PSSC Labs, Artizen HPC, Brandon Mulloy, Ribbon, Innovative Learning, Project Optimal, Penn Air Group, and eatalbacore.com.</li>
        </ul>
        <b>2008: First American Title</b><br />
        Website Developer<br />
        Santa Ana, CA <br />
        <ul>
            <li>Collaborated with the First American Document Solutions team to develop and test the “eTree” website.</li>
            <li>Wrote and published the website html, css, javascript, and asp. </li>
        </ul>
        <b>2002 - 2007: Bear Stearns/Encore Credit</b><br />
        Website Developer/Technical Writer<br />
        Irvine, CA<br />  
        <ul>
            <li>Developed and managed the company website and corporate intranet.</li> 
            <li>Performed technical writing and editing as well as marketing copywriting.</li> 
        </ul> 
    </div>
</div>

