<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">contact_page</i>
    </div>
    <div class="clear">
    <table class="contact-table">
        <tr>
            <td>
                <div class="social-icon">
                    <span class="material-icons-outlined">
                        email
                    </span>
                </div>
            </td>
            <td>
                <a href="mailto:kevinmccalley@gmail.com?subject=Resume" class="page-link"><div class="inner-bot-pad">kevinmccalley@gmail.com</div></a>
            </td>
        </tr>
        <tr>
            <td>
                <div class="social-icon">
                    <img src="../../assets/svg/linkedin-in-svgrepo-com.svg" alt="LinkedIn" class="linkedin-icon" />
                </div>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/kevin-mccalley/" class="page-link"><div class="inner-bot-pad">kevin-mccalley</div></a>
            </td>
        </tr>
        <tr>
            <td>
                <div class="social-icon">
                    <span class="material-icons-outlined">
                        phone
                    </span>
                </div>
            </td>
            <td>
                (805) 400-7850
            </td>
        </tr>
    </table>
    </div>
</div>
