<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">gpp_good</i>
    </div>
    <div class="clear">
    <h3><b>Technical Writing</b></h3>
    <div class="section-break">Over six years' experience with technical writing and editing for various projects such as instructions, manuals, website content, API Endpoint documentation and multimedia presentations.</div>

    <h3><b>Communication</b></h3>
    <div class="section-break">Articulate communicator adept at developing and delivering training and technical demonstrations. Consistent success contributing to cross-functional teams and exhibiting efficiency, quality, and flexibility managing and prioritizing project components.</div>
        
    <h3><b>Technology Tools</b></h3>
    
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="tl">Graphic Design and Prototyping</td><td class="tr">Adobe Creative Suite (XD, Photoshop, Illustrator)</td>
        </tr>
        <tr>
            <td>Programming</td><td>TypeScript, ES6 Javascript, php, asp, aspx, and html scripting; JSON and xml data-structuring; and css/scss style sheets</td>
        </tr>
        <tr>
            <td>Scripting Libraries</td><td>Angular, React, jQuery</td>
        </tr>
        <tr>
            <td>Development</td><td>Visual Studio, Visual Studio Code, Node Package Manager</td>
        </tr>
        <tr>
            <td>Platforms</td><td>Windows, Linux</td>
        </tr>
        <tr>
            <td>Documentation</td><td>Confluence, Postman, draw.io</td>
        </tr>
        <tr>
            <td>System Management</td><td>Terminal (CLI), Windows PowerShell, RDC virtual machines, remote management</td>
        </tr>
        <tr>
            <td class="bl">Agile</td><td class="br">Jira</td>
        </tr>
    </table>
    </div>
</div>

