<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">filter_vintage</i>
    </div>
    <div class="clear">
    Insightful, experienced website and web application developer and technical writer with a B.A. and a proclivity for managing and conveying compelling digital content. Knowledgeable IT professional with a proven ability to generate successful results through effective use of cutting-edge technology, meticulous usability testing, and user interface design optimization. Astute individual skilled at determining technical standards, coding protocols, tools, and platforms. Strong background planning, designing, developing, and testing websites. Highly skilled at creative design and development using single-page web application frameworks and content management systems.
    </div>
</div>
