<div class="Pad">
    <h2>{{Title}}</h2>
    <div class="legend-container">
        <i class="material-icons-outlined">accessibility</i>
    </div>
    <div class="clear">I am committed to building applications that meet WAI <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank" class="link">WCAG</a> guidelines, <a href="https://www.section508.gov/" target="_blank" class="link">Section 508</a> standards for accessibility on government and/or federally-funded applications, and in compliance with the Americans with Disabilities Act (ADA).  This simple resume template is WCAG compliant as both a mobile and web application. It is built using Angular, leverages the Angular Material design library to achieve a simple yet accessible responsive layout.  The site utilizes <a href="https://fonts.google.com/icons?selected=Material+Icons" class="link" target="_blank">Angular Material Icons</a> from the Google fonts library to render the visual design elements contained on the page.
    </div>
</div>