/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:  proxima-nova, sans-serif; } //Cambria, Georgia, serif;
.Pad {padding: 16px; font-size:18px;}
div {
    line-height:26px;
}
h2, .legend-container i {color:#1665AA;} //pink = #F73859
h2, .legend-container {
    display:block;
}
.legend-container i {
    position:relative;
    top: 5px;
}
h2 {
    float:left;
}
.legend-container {
    float:right;
}
.clear {
    clear:both;
}
.section-break {
    margin-bottom:27px;
}
.mat-drawer {
    background-color: #f8f8f8;
}
ul {
    padding-inline-start:20px;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    padding:0 7px !important;
}
